.DS_Store
Thumbs.db
db.json
*.log
node_modules/*
public/*
.deploy*/
.BROWSE.VC.DB
.BROWSE.VC.DB-wal
themes/react/layout/*.js
themes/react/layout/components/*.js
themes/react/layout/components/sidebar_widgets/*.js
