#footer= '© 2014-2016 '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  Powered by
  a(rel='nofollow noopener noreferrer', target='_blank', href='https://hexo.io')  Hexo.
  |  Theme based on
  a(rel='nofollow noopener noreferrer', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  a theme by Cho.
