.widget
  .widget-title social
  ul
    for social_link in theme.links
      li.color-on-hover
        i(class='fa #{social_link.icon}' aria-hidden="true")
        | 
        a(href='#{social_link.url}' title='#{social_link.title}' target='_blank') #{social_link.text}
